/* * {
  margin: 0;
  padding: 0;
} */
.social-media-icon {
  width: 22px;
  height: 20px;
}
.font-bold {
  font-weight: 700;
}
.cursor-pointer {
  cursor: pointer;
}
#contact-form {
  display: flex;
  flex-direction: column;
}
#contact-form input,
button {
  width: fit-content;
}
