* {
  margin: 0;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}
body {
  height: 100vh;
}
header,
footer {
  background-color: rosybrown;
}
header {
  position: sticky;
  top: 0;
  padding-left: 1%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  color: black;
}
footer {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.footer-top {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-us {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-button {
  background-color: #249bba;
}
.footer-top a {
  text-decoration: none;
  color: black;
}
.copyright-text {
  margin: auto;
  padding: 6px 0;
  font-size: 10px;
}
footer div,
p,
a,
img {
  background-color: transparent;
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.social-media-icon {
  width: 22px;
  height: 20px;
}
.font-bold {
  font-weight: 700;
}
.cursor-pointer {
  cursor: pointer;
}
#contact-form {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
}
#contact-form input,
button {
  width: fit-content;
}
.bg-transparent {
  background-color: transparent;
}
.flex {
  display: flex;
}
.cursive {
  font-family: cursive;
}
.semibold {
  font-weight: 600;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-modal-container {
  padding: 10px;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-email-container {
  display: flex;
  gap: 4px;
}
.login-modal-container label {
  width: 40%;
}
.login-modal-container input,
.contact-modal-container input {
  border-radius: 4px;
  width: 60%;
  border: 1px solid gray;
}
.modal {
  background-color: transparent;
}
.modal-header,
.modal-body {
  border-bottom: 1px solid gray;
}
.modal-dialog {
  border: 1px solid gray;
  border-radius: 6px !important;
  overflow: hidden !important;
}

@media screen and (max-width: 600px) {
  .footer-top {
    padding: 10px;
  }
  .contact-button {
    font-size: 12px;
  }
}
