#detail-body .content-div {
  margin: 2% 4% 0;
}
#detail-body input {
  border: 1px solid;
}
#detail-body .hotel-description-data {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detail-top {
  height: 400px;
  max-height: 400px;
  display: flex;
  border: 1px solid black;
}
.detail-img-container {
  min-width: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.detail-hotel-image {
  width: 50%;
  height: 90%;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-w/17/b3/09/b4/by-the-poolside.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#detail-form {
  width: 30%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#detail-form label {
  display: block;
  width: 40%;
}
#detail-form input {
  width: 60%;
  background-color: white;
}
#detail-form input::placeholder {
  color: black;
}
#detail-form input[type="submit"] {
  cursor: pointer;
  margin: 0 auto;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid gray;
}
