#detail-body {
  padding-bottom: 80px;
}
#detail-body .content-div {
  margin: 2% 4% 0;
}
#detail-body input {
  border: 1px solid;
}
#detail-body .hotel-description-data {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
}
.detail-top {
  height: 400px;
  max-height: 400px;
  display: flex;
  border: 1px solid black;
}
.detail-img-container {
  min-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.detail-hotel-image {
  margin: auto;
  min-width: 450px;
  width: 70% !important;
  height: 360px;
}
.carousel {
  width: 100%;
  /* color: #bc8f8f; */
}
.carousel-control-next-icon {
  width: 15px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  width: 15px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#detail-form {
  width: 30%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#detail-form label {
  display: block;
  width: 40%;
}
#detail-form input {
  width: 60%;
  background-color: white;
}
#detail-form input::placeholder {
  color: black;
}
#detail-form input[type="submit"] {
  cursor: pointer;
  margin: 0 auto;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid gray;
}

@media screen and (max-width: 600px) {
  .detail-hotel-image {
    margin: auto;
    width: 250px !important;
  }
  .detail-top {
    height: max-content !important;
    max-height: max-content !important;
    display: flex;
    flex-direction: column;
  }
  #detail-form {
    width: 80%;
    height: max-content;
    display: flex;
    gap: 20px;
  }
}
