#index-body .city-image {
  width: 150px;
  height: 150px;
}
.search-container {
  height: 380px;
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container input {
  padding: 10px;
  width: 25%;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  font-size: 16px;
}
.cities-container {
  margin: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cities-container .city-image {
  padding: 4%;
  border-radius: 25%;
}
.view-more-text {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.view-more-text a {
  text-decoration: none;
  color: black;
}
