#list-body {
  height: 100vh;
}
.hotel-image {
  width: 150px;
  height: 150px;
}
#list-body .content-div {
  margin: 4%;
}
#list-body .content-div ul {
  padding-left: 20px;
}
#list-body .hotel-container {
  margin: 2% 0;
  min-width: 400px;
  width: 40%;
  height: 150px;
  display: flex;
  gap: 10px;
  background-color: lightgrey;
}
#list-body .hotel-container:hover {
  background-color: rosybrown;
  cursor: pointer;
}
#list-body .hotel-container h3 {
  background-color: transparent;
}
#list-body .unordered-list {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
#list-body #list-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#list-body #list-view .hotel-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#list-body #list-view a {
  text-decoration: none;
  color: black;
}
#map-view img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  #list-body #list-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  #list-body .hotel-container {
    margin: auto;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
  }
  .hotel-image {
    width: 100%;
    height: 100%;
  }
  .hotel-info {
    gap: 0 !important;
  }
}
