.hotel-image {
  width: 150px;
  height: 150px;
}
#list-body .content-div {
  margin: 4%;
}
#list-body .content-div ul {
  padding-left: 20px;
}
#list-body .hotel-container {
  margin: 2% 0;
  width: 40%;
  display: flex;
  gap: 10px;
  background-color: lightgrey;
  min-width: 47%;
  padding-bottom: 10px;
}
#list-body .hotel-container h3 {
  background-color: transparent;
}
#list-body .unordered-list {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: 700;
}
#list-body .unordered-list li {
  list-style: none;
}
#list-body .unordered-list a {
  text-decoration: none;
  color: black;
}
#list-body #list-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#list-body #list-view .hotel-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#list-body #list-view a {
  text-decoration: none;
  color: black;
}
